// center content

//change background color

body{
  background-color: rgb(24, 24, 24);
}

.container .cardinicio{
  background-color: rgb(112, 184, 247);
}

.container .distbutton{
  margin-bottom: 1rem;
}